<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UNIBET69</title>
    <link rel="stylesheet" th:href="@{/css/styleapostas.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<!--<body>
<h1>Home</h1>
<p>Área restrita para usuários logados. </p>
<p>Bem vindo: <span sec:authentication="name"></span></p>

<ol>
    <li><a  th:href="@{/logout}">Deslogar</a></li>
</ol>
<div sec:authorize="isAuthenticated()">
    Conteudo que somente é mostrado para usuários logados.
</div>

<div  sec:authorize="hasRole('ROLE_ADMIN')">
    <p>usuário administrador está logado</p>
</div>
<div  sec:authorize="hasRole('ROLE_MANAGER')">
    <p>usuário gerente está logado</p>
</div>

<div  sec:authorize="hasRole('ROLE_USER')">
    <p>usuário comum está logado</p>
</div>

</body>-->
<body>
<!--
<p>Bem vindo: <span sec:authentication="name"></span></p>

<ol>
    <li><a  th:href="@{/logout}">Deslogar</a></li>
</ol>
<div sec:authorize="isAuthenticated()">
    Conteudo que somente é mostrado para usuários logados.
</div>
-->
<div class="header">
    <a th:href="@{/}">Cassino</a>
    <a th:href="@{/jogos}">Jogos</a>
    <a href="saque.html">Saque</a>
    <a href="deposito.html">Depósito</a>
    <a href="relatorio.html">Relatório</a>
    <div class="right">
        <a href="indexhome.html">Entrar</a>
        <a href="indexhome.html">Registrar</a>
    </div>
</div>
<div class="main-content">
    <h1>
        UNIBET69
    </h1>
</div>
<div class="bets-section">
    <h2>
        Apostas
    </h2>
    <h3>
        Quentes
    </h3>
    <div class="bets-grid">
        <div class="bet-card">
            <img alt="Brasileirão BETANO - Flamengo x Corinthians" height="100" src="imgs/corxfla.png" width="200"/>
            <h4>
                Brasileirão BETANO
            </h4>
            <p>
                Flamengo x Corinthians
            </p>
        </div>
        <div class="bet-card">
            <img alt="Brasileirão BETANO - Atlético MG x Vasco" height="100" src="imgs/atlexvasc.png" width="200"/>
            <h4>
                Brasileirão BETANO
            </h4>
            <p>
                Atlético MG x Vasco
            </p>
        </div>
        <div class="bet-card">
            <img alt="Brasileirão BETANO - São Paulo x Santos" height="100" src="imgs/saoxsant.png" width="200"/>
            <h4>
                Brasileirão BETANO
            </h4>
            <p>
                São Paulo x Santos
            </p>
        </div>
        <div class="bet-card">
            <img alt="Liga Esportiva NBA - Warriors x Lakers" height="100" src="imgs/lakxwar.png" width="200"/>
            <h4>
                Liga Esportiva NBA
            </h4>
            <p>
                Warriors x Lakers
            </p>
        </div>
        <div class="bet-card">
            <img alt="Liga Esportiva NBA - Bulls x Cavaliers" height="100" src="imgs/chicxbuls.png" width="200"/>
            <h4>
                Liga Esportiva NBA
            </h4>
            <p>
                Bulls x Cavaliers
            </p>
        </div>
        <div class="bet-card">
            <img alt="Liga Esportiva NBA - Wizards x Knicks" height="100" src="imgs/wizxkni.png" width="200"/>
            <h4>
                Liga Esportiva NBA
            </h4>
            <p>
                Wizards x Knicks
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <div>
        <h4>Ajuda</h4>
        <a href="#">Deposito</a>
        <a href="#">Faq UniBet69</a>
        <a href="#">Contate-nos</a>
        <a href="#">Jogo Responsavel</a>
        <a href="#">Pagamentos</a>
        <a href="#">Regras</a>
    </div>
    <div>
        <h4>Estatísticas</h4>
        <a href="#">Futebol</a>
        <a href="#">NBA</a>
        <a href="#">NFL</a>
        <a href="#">NHL</a>
        <a href="#">F1</a>
    </div>
    <div>
        <h4>Resultados</h4>
        <a href="#">Resultados Ao-Vivo</a>
        <a href="#">Resultados</a>
    </div>
</div>
</body>
</html>