   body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .header {
        background-color: #004d00;
        padding: 5px 0;
        text-align: center;
    }
    .header a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .header a:hover {
        background-color: #003300;
    }
    .header .active {
        background-color: #333333;
    }
    .header .right {
        float: right;
        margin-right: 20px;
    }
    .header .right a {
        background-color: #333333;
    }
        .main-content {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .main-content img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .main-content h1 {
            font-size: 48px;
            margin: 20px 0;

        }
        .stats {
            display: flex;
            justify-content: space-around;
            background-color: #444;
            padding: 20px;
        }
        .stat-item {
            background-color: white;
            color: black;
            padding: 20px;
            border-radius: 10px;
            width: 30%;
            text-align: center;
        }
        .footer {
            background-color: #1a1a1a;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #333333;
        }
        .footer div {
            text-align: left;
        }
        .footer h4 {
            margin-bottom: 10px;
        }
        .footer a {
            color: #b3b3b3;
            text-decoration: none;
            display: block;
            margin: 5px 0;
}
        .social-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .social-icons i {
            margin: 0 10px;
            font-size: 24px;
        }
        .botao {
            background-color: #1f2522; /* Cor de fundo */
            color: white;              /* Cor do texto */
            padding: 12px 25px;        /* Espaçamento interno */
            border: none;              /* Sem borda */
            border-radius: 10px;       /* Bordas arredondadas */
            font-size: 18px;           /* Tamanho da fonte */
            cursor: pointer;          /* Indica que é um botão */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do botão */
            transition: all 0.3s ease; /* Efeito de transição */

    }
        .botao:hover {
            background-color: #000000; /* Cor de fundo ao passar o mouse */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
            transform: translateY(-3px); /* Efeito de elevação */
            }